*{
  box-sizing: border-box;
  font-family: 'Caveat', cursive;
  margin: 0;
  padding: 0;
}

body, html{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}
hr {
  border: none;
  border-top: 1px solid var(--gris-oscuro);
  width: 70%;
  margin: 10px auto;
}

.confirm{
  height: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--gris-oscuro);
  border-radius: 8px;
}

.button-confirm {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-rosa);
  margin: 4px;
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 550;
  text-decoration: none;
  border: 1px solid var(--gris-oscuro)
}


.container-popup{
  position: fixed;
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(231, 231, 231, 0.671);
}

.Popup{
  top: 20%;
  left: 10%;
  width: 80%;
  height: 62%;
  background-color: var(--color-rosa);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.text-confirmation {
  font-size: 30px;
  font-weight: 550;
}

.invitados{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
} 

.button{
  width: 120px;
  font-size: 26px;
}

.confirmation{
  background-color: #2b8618;
  color: white;
  border: 1px solid #2b8618;
  border-radius: 8px;
}

.canceled{
  background-color: #861818;
  color: white;
  border: 1px solid #861818;
  border-radius: 8px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}