* {
  box-sizing: border-box;
  font-family: 'Caveat', cursive;
  color: var(--gris-oscuro);
  font-size: 22px;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  padding: 2% 5%;
}

hr {
  border: none;
  border-top: 1px solid var(--gris-oscuro);
  width: 70%;
  margin: 10px auto;
}

#tie-icon {
  width: 200px;
  height: 200px;
  margin: 0 auto;          /* Centra horizontalmente */
  display: block;          /* Necesario para que el margin auto funcione en horizontal */
}
#mail-icon {
  width: 200px;
  height: 200px;
  margin: 0 auto;          /* Centra horizontalmente */
  display: block;          /* Necesario para que el margin auto funcione en horizontal */
}
.dresscode h2 {
  font-size: 34px;
}

.gifts h2 {
  font-size: 34px;
}

.confirm {
  height: 220px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-rosa);
  border-radius: 8px;
  padding: 20px;
  border-style: dashed;
}

.confirm h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.confirm p {
  margin-bottom: 10px;
}

.button-confirm {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-rosa);
  margin: 4px;
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 550;
  text-decoration: none;
  border: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}


.container-popup {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.247);
}

.Popup {
  top: 20%;
  width: 74%;
  height: 60%;
  background-color: var(--color-blanco);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 4%;
}

.text-confirmation {
  font-size: 30px;
  font-weight: 550;
}

.invitados {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 30px;
  padding: 0 20px;
}

.button {
  width: 120px;
  font-size: 26px;
}

.confirmation {
  background-color: var(--color-rosa);
  color: white;
  border: 2px solid var(--color-rosa);
  border: none;
  border-radius: 8px;
  color: var(--gris-oscuro);
}

.canceled {
  background-color: var(--color-blanco);
  color: white;
  border: 2px solid var(--color-rosa);
  border-radius: 8px;
  color: var(--gris-oscuro) !important;
}

.invitados label{
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0  8px;
}

label input{
  margin: 10px !important;
}

/* --------------------------------- */
input[type="checkbox"] {
  appearance: none;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border: 2px solid #999;
  border-radius: 10%;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  margin: 2px;
}

input[type="checkbox"]:checked {
  background-color: var(--gris-oscuro);
  border-color: var(--gris-oscuro);
  box-shadow: 0 0 5px var(--gris-claro);
  content: "✓";
  color: white;
}

input[type="checkbox"]::before {

  position: absolute;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
  content: "✓";
}

/* IMGs Temporal*/
img{
  width: 60px;
  height: 60px;
}