*{
  box-sizing: border-box;
  font-family: 'Caveat', cursive;
  margin: 0;
  padding: 0;
}
body, html{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.confirm{
  background-image: url('../sources/fondo_confirm_asistence.png');
}