:root{
    --gris-oscuro: #675F5C;
    --gris-claro: #A59A94;
    --color-beige: #E6D5CE;
    --color-beige-claro: #FAECDF;
    --color-blanco: #FFF9F5; 
    --color-rosa: #F2E1DA;
}

html, body{
    font-family: fantasy;
    box-sizing: border-box;
    padding: 0;
    height: 0;
}