:root{
    --gris-oscuro: #675F5C;
    --gris-claro: #cfc3bd;
    --color-beige: #E6D5CE;
    --color-beige-claro: #FAECDF;
    --color-blanco: #FFF9F5; 
    --color-rosa: #F2E1DA;
}

body {
    font-family: 'Caveat', cursive !important;
    height: 100% !important;
}

/* ANIMACIONES DE LA INTERFAZ */
@keyframes aparecer {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes aparecerArriba {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes aparecerAbajo {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes aparecerIzquierda {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes aparecerDerecha {
    from {
        opacity: 0;
        transform: translateX(20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes shift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

