* {
  box-sizing: border-box;  
}

input {
  text-transform: uppercase;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@keyframes abrirSobre {
  from {
    transform: translateX(-50%) rotateX(60deg);
  }
}
@keyframes abrirPopup {
  from {
    box-sizing: border-box;
    scale: 0;
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}
/* TITULO DE INVITACION */


/* -------------------------------------- CLASE DE INVITACION CLOSE  --------------------------------- */
.target_invitation {
  position: relative;
  background-color: #e7d6ce !important;
  border: 1px solid #FFE9DF;
  box-shadow: 2px 5px 10px 0px var(--gris-claro);
  width: 340px;
  height: 240px;
  border-radius: 10px;
  overflow: hidden;
  animation: aparecerAbajo 1s ease-out forwards, shift 8s infinite linear;
}

.triangle-invitation {
  position: sticky;
  z-index: 9;
  width: 0;
  height: 0;
  border-left: 175px solid transparent;
  border-right: 175px solid transparent;
  border-top: 140px solid #f1ded5;
  transition: transform 0.6s ease; /* 🎯 Transición suave */
}

.triangle-invitation::after {
  content: "";
  position: absolute;
  bottom: -18px; 
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 20px;
  background-color: var(--color-beige);
  border-radius: 50%;
}

.target_invitation img {
  width: 24%;
  height: auto;
  position: absolute;
  top: 60%;
  left: 16%;
  transform: translateX(-50%);
  z-index: 8; 
  opacity: 0.5;
}

/* -------------------------------------- CLASE DE INVITACION ABIERTA  --------------------------------- */
.target_invitation_closed {
  position: relative;
  background-color: var(--color-beige) !important;
  border: 1px solid var(--gris-claro);
  box-shadow: 2px 5px 10px 0px var(--gris-claro);
  width: 350px;
  height: 260px;
  border-radius: 10px;
}

.triangle-invitation-closed {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotateX(120deg);
  transform-origin: top center;
  z-index: 2;
  width: 0;
  height: 0;
  border-left: 170px solid transparent;
  border-right: 170px solid transparent;
  border-top: 270px solid var(--color-rosa);
  animation: abrirSobre 0.6s ease forwards;
} 

.target_invitation_closed img {
  width: 24%;
  height: auto;
  position: absolute;
  top: 60%;
  left: 16%;
  transform: translateX(-50%);
  z-index: 8; 
  opacity: 0.5;
}

.content{
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  height: 100%;
  color: var(--gris-oscuro);
  font-weight: 600;
  font-size: 20px;
  gap: 10px;
}


/* -------------------------------------- CLASES DEL POPUP DE INVITACION  --------------------------------- */

.content-popup{
    background-color: rgba(240, 248, 255, 0.411);
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

h1{
    color: var(--gris-oscuro);
    font-size: 34px !important;
    animation: aparecerArriba 1s ease-out forwards, shift 8s infinite linear;
}

.popup{
    background-color: var(--color-rosa);
    color: var(--gris-oscuro);
    height: 240px;
    width: 325px;
    border: 1px solid var(--gris-claro);
    border-radius: 10px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 2px 5px 10px 0px var(--gris-claro);
    animation: abrirPopup 0.6s linear;
}


.popup input{
    border-radius: 10px;
    padding: 0 10px;
    width: 80%;
    height: 40px;
    border: 1px solid var(--gris-claro);
    outline: none;
}

.popup button{
    width: 120px;
    border-radius: 10px;
    background-color: var(--color-beige);
    box-shadow: 2px 5px 10px 0px var(--gris-claro);
}