* {
  box-sizing: border-box;
  color: var(--gris-oscuro);
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  padding: 4%;
}

img {
  width: 260px;
  height: auto;
  animation: aparecer 1s ease-out forwards, shift 8s infinite linear;
}

h1 {
  font-size: 36px;
  display: flex;
  justify-content: center;
  /* font-weight: 700; */
  animation: aparecerArriba 1s ease-out forwards, shift 8s infinite linear;
}

.text-title {
  font-size: 28px;
  animation: aparecerArriba 1s ease-out forwards, shift 8s infinite linear;
}

.text-invitation {
  padding: 20px;
  border-radius: 10px;
  color: var(--gris-oscuro);
  font-size: 18px;
  display: flex;
  justify-content: center;
  font-size: 22px;
  animation: aparecerAbajo 1s ease-out forwards, shift 8s infinite linear;
}

