*{
  box-sizing: border-box;
  font-family: 'Caveat', cursive;
  margin: 0;
  padding: 0;
}
html, body{
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}

img{
  width: 360px;
}

h1{
  font-size: 32px;
}

.text-title{
  font-size: 32px;
}

.text-invitation{
  font-size: 22px;
}