*{
  box-sizing: border-box;
}
body, html{
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.icon {
  position: fixed;
  top: 45%;
  color: black;
  font-size: 30px;
  cursor: pointer;
  transition: color 0.3s ease;
  z-index: 9;
}

.d1 {
  left: 0;
  margin-left: 10px;
}

.d2{
  right: 0;
  margin-right: 10px;
}

#iframe {
  margin: 0;
  padding: 20px;
  width: 100%;
  height: 100%;
  border: none;
  z-index: 1;
}

